* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform-origin: 0%;
}
html {
  scroll-behavior: smooth;
}
.nav-container {
  background-color: #333;
  transition: 1s;
  transform: translateY(-90px);
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logo-container {
  flex: 1;
}

.logo-container h5 {
  font-family: "Nova Square", cursive;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -5px;
  color: #eee;
}

.links-container {
  flex: 2;
  /* height: auto !important; */
}

.links {
  display: flex;
  justify-content: space-between;
}
.link .active-link {
  text-decoration: underline;
}
.link {
  list-style: none;
}
.link a {
  font-family: "Open Sans", sans-serif;
  color: #eee;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.link a:hover {
  text-decoration: underline;
  color: #fff;
}

/* css for header */
header {
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}

header h1 {
  font-family: "Nova Square", cursive;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem 0;
  text-transform: capitalize;
}
header .info {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2rem;
  font-weight: 500;
  word-spacing: 0.7rem;
}

header .btn-info button {
  padding: 0.3rem 0.7rem;
  font-family: "Nova Square", cursive;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

.header-container {
  background: url("./image/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0rem 2rem;
}

.btn-info button {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-info button:hover {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.btn-info button:active {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* css for about */

.heading-about-container {
  background-color: #333;
  text-align: center;
  padding: 1rem;
  color: #eee;
}
.about-heading {
  font-family: "Nova Square", cursive;
  font-size: 3rem;
  font-weight: 500;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 2rem 1rem;
}
.about-info {
  display: flex;
  align-items: center;
  flex: 1;
}
.about-info .info {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
}
.about-image {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.about-image img {
  width: 100%;
}

/* css for how to play */

.heading-howtoplay-container {
  background-color: #333;
  text-align: center;
  padding: 1rem;
  color: #eee;
}
.howtoplay-heading {
  font-family: "Nova Square", cursive;
  font-size: 3rem;
  font-weight: 500;
}
.howtoplay-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.howtoplay-image {
  text-align: center;
}
.howtoplay-image img {
  width: 60%;
}
.howtoplay-info-container {
  display: flex;
}
.howtoplay-info-container .info-1 {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  margin: 0 1rem;
  font-weight: 500;
}

/* css for play */
#play {
  margin-top: 3rem;
}
.play-container {
  background-color: #333;
  text-align: center;
  padding: 1rem;
  color: #eee;
}
.play-heading {
  font-family: "Nova Square", cursive;
  font-size: 3rem;
  font-weight: 500;
}
#play {
  height: 70vh;
}

.footer-container {
  height: 100px;
  width: 100%;
  background-color: #000;
  color: white;
}

.footer-container .date {
  font-size: 1.5rem;
  font-family: "Nova Square", cursive;
  font-weight: bolder;
  color: white;
  text-align: center;
}
/* responsive */
@media (max-width: 400px) {
  .about-heading {
    font-size: 1rem;
  }
  footer .footer-container .date {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .about-container {
    flex-direction: column;
  }
  .howtoplay-info-container .info-1 {
    font-size: 1rem;
  }
  .about-info .info {
    font-size: 1rem;
  }
  header .text-info .info {
    font-size: 1rem;
  }
  .footer-container .date {
    font-size: 1.3rem;
  }

  .howtoplay-content .howtoplay-image img {
    width: 100%;
  }
  .about-container.satu {
    flex-direction: column-reverse;
  }
}
@media (max-width: 800px) {
  .howtoplay-image img {
    width: 80%;
  }
  .howtoplay-info-container {
    display: flex;
    flex-direction: column;
  }

  .howtoplay-info-container .info-1 {
    margin: 1rem;
  }
}
@media (max-width: 700px) {
  header h1 {
    font-size: 2.5rem;
  }
  header .info {
    font-size: 1.1rem;
  }
  .about-heading {
    font-size: 2.5rem;
  }
  .howtoplay-heading {
    font-size: 2.5rem;
  }
  .play-heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 701px) {
  .links-container {
    height: auto !important;
  }
}
@media (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .toggle-btn {
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform-origin: 0%;
  }

  .btn-1,
  .btn-2,
  .btn-3 {
    width: 40px;
    height: 3px;
    transform-origin: 0%;
    background-color: #eee;
    transition: 1s;
  }
  .active .btn-1 {
    transform: rotate(33deg);
  }
  .active .btn-2 {
    transform: translate(-40px);
    opacity: 0;
  }
  .active .btn-3 {
    transform: rotate(-33deg);
  }
  .links-container {
    flex: none;
    height: 0;
    overflow: hidden;
    transition: 1s;
  }
  .links {
    flex-direction: column;
  }
  .links .link {
    padding: 1rem 0;
  }
}
